* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

nav > a {
  color: rgb(109, 109, 109);
  font-family: "Neue Montreal", sans-serif;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding: 2em 2em;
  font-weight: 500;
  mix-blend-mode: difference;
  text-align: center;
  overflow: visible;
}

nav > a:hover {
  color: #fff;
}

nav > a > span {
  position: relative;
  z-index: 2;
  width: 400px;
}

/* WRAPPER FOR HOVER IMAGE */
nav a .img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5); /* center & scale down */
  opacity: 0;
  transition: all 250ms ease;
  pointer-events: none;
  width: 300px;
  height: 400px;
  overflow: hidden;
  z-index: 1;
}

/* IMAGE INSIDE WRAPPER */
nav a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: scale(2.5);
  transition: transform 2000ms cubic-bezier(0.075, 0.82, 0.165, 1.5), opacity 250ms;
  pointer-events: none;
}

/* HOVER STATE */
nav a:hover .img-wrapper {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* full size & still centered */
}

nav a:hover img {
  opacity: 1;
  transform: scale(1.5);
}
